/* @group Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-weight: normal;
  font-style: normal;
}
body {
  line-height: normal;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100px;
  background-color: #ccc;
}

caption {
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
}

table td, table th {
  padding: 5px;
  border: 1px solid #999;
  color: #555;
  border-collapse: collapse;
}
table th {
  background-color: #BBB;
  text-align: left;
  font-weight: bold; 
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

.btn {
  padding: 20px 30px;
  background: #666;
  display: inline-block;
  width: 40%;
  max-width: 255px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1px;
  margin-bottom: 1.5em;
}

/* @end */

html {
  color: #cccccc;
  font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
body {
  font-size: 13px;
  line-height: 1.5em;
  background-color: #323232;
}
 
#wrap {
  width: 860px;
  margin: 0 auto;
  padding-left: 35px;
  padding-right: 35px;
}

#header {
  padding-top: 40px;
  padding-bottom: 30px;
  border-bottom: 1px solid #666666; 
}

#header #logo {
  float: left;
  margin-left: -140px;
}

#header #sections {
  float: right;
}

#sections  {
  margin-top: 68px;
}

#sections ul li {
  float: left;
  font-size: 16px;
} 
#sections a:link, #sections a:visited {
  font-weight: bold;
  margin-left: 20px;
}
 
#sections a:hover {
  color: #ccc;
}
 
#sections .first a {
  padding-left: 0;
  border-style: none; 
  
}
#services {
  margin-right: -40px;
}
#services .row, #home h1 {
  margin-bottom: 30px;
}
#services .service {
  width: 185px;
  float: left;
  margin-right: 40px;
}
#services .service a {
    color: #cccccc;
    display: inline-block;
    width: 185px;
}
#services .service a:hover, #services .service a:hover  span.icon {
  color: #FFFFFF;
}
#services .service  span.icon {
  font-size: 34px;
  line-height: 40px;
  color: #858585;
  float: left;
  width: 45px;
}
#services .service  span.service-title {
  width: 130px;
  float: right;
  font-size: 14px;
  line-height: 18px;
}
#home #content p {
  font-size: 16px;
  line-height: 24px;
}

#home #content .h1 {
  font-size: 18px;
  line-height: 150%;
  color: #ccc;
  margin-bottom: 0.5em;
}

#sections li.selected a:link{
  color: #ccc;
}
#content {
padding-top: 30px;
  padding-bottom: 30px;
}
.left_column {
  width: 635px;
  float: left; 
}
.left_column img {
  max-width: 100%!important;
}
.left_column  table {
  width: 100%;
  margin-bottom: 20px;
}
.left_column .blog_summary {
  margin-bottom: 20px;
  padding-top: 20px;
    border-top: 1px solid #666666;
}
.left_column .blog_summary h3, #blog-post .left_column h1 {
  margin-bottom: 0px;
}
.left_column h3.further-links span {
  margin-left: 8px;
}
#side-nav span {
  margin-right: 6px;
}
.left_column h3.further-links span, #side-nav span  {
  font-size: .8em;
  vertical-align: middle;
}
#content .left_column ul, #content .left_column ol {
   margin: 24px 0;
   margin-left: 30px;
}
#content .left_column li {
  line-height: 24px;
}
#content .left_column ul  {
  list-style: disc;

} 
#content .left_column ol  {
  list-style: decimal;
} 
#blog-post #left_column {
  width: auto;
}

#left_column li  {
  padding-bottom: 7px;
}

#left_column ul  {
  list-style-type: disc;
  list-style-position: outside;
  padding-bottom: 10px;
  margin-left: 20px;
}

#left_column ol  {
  list-style-type: decimal;
  list-style-position: outside;
  padding-bottom: 10px;
  margin-left: 15px;
}

.image_title {
  text-align: right;
  font-size: 10px;
  padding-bottom: 20px;
  margin-top: -20px;
  text-transform: uppercase;
  color: #666;
}

.image {
  padding-bottom: 20px;
}

h1, h2, h3, h4, h5, h6, #nav, .right_column, #footer, .h1 {
  font-family: 'Signika Negative', sans-serif;
  color: #FFF;
}
h1, .h1, h2, h3, h4, h5, h6 {
  color: #FFF;
  line-height: 150%;
  margin-bottom: .5em;
}
h1, .h1 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 24px;
}

h2 {
  font-size: 18px;
}
h3 {
  font-size: 16px;
}
h4 {
  font-size: 15px;
}
h5, h6 {
  font-size: 14px;
}
p {
  margin-bottom: 21px;
}
.read_more a:link, .read_more a:visited {
  text-decoration: none;
  font-size: 10px;
  text-transform: uppercase;
  color: #CCC;
}

.read_more a:hover {
  color: #eee;
}
a:link, a:visited {
  color: #FFF;
  text-decoration: none;
}

a:hover, a:active {
  color: #cccccc;
}

.author {
  font-size: 10px;
  margin-bottom: 10px;
  padding: 0;
  font-style: italic;
}


#image {
        width: 200px;
}

.solution_image img {
        width: 400px;
        padding-bottom: 0.5em;
}

.description {
        padding-bottom: 1em;
}
#sidebar {
  border-bottom: 1px solid #666666;
  border-top: 1px solid #666666;
  width: 185px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
#sidebar p.side_text {
  color: #999999;
  margin-bottom: 0;

}
.right_column {
  float: right;
  padding: 30px 0;
} 
#slideshow {
  margin:0;
}
#slideshow .right_column { 
  height: 250px;
  width: 150px;
  background-color: #4d4d4d;
  padding: 35px 35px 35px 40px ;
  text-transform: uppercase;
  font-size: 20px;
}
#slideshow .right_column h2 {
    font-weight: 300; 
    margin-bottom: 0;
}
.right img {
  float: right;
  display: inline;
  position: relative;
  top: -15px;
}

.left img {
  position: relative;
  top: -20px;
  float: left;
}

.sidebar ul {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #666666;
}

.sidebar li {
  margin-bottom: 10px;
}
.sidebar li:last-child {
  margin-bottom: 0;
}
#pages.nav a:link, #pages.nav a:visited {
  display: block;
  font-size: 14px;
  line-height: 21px;
}

.white {
  padding-right: 10px;
  font-weight: bold;
  color: #3a3a3c;
  font-variant: small-caps;
}
 
.address {
  padding-top: 20px;
  color: #000;
  font-size: 12px;
}
#footer p.tagline {
  color: #cccccc;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 10px;
  font-weight: 400;
}
#footer p {
  color: #b3b3b3; 
  font-size: 10px;
  font-weight: 300;
}
#footer {
  margin-bottom: 35px;
  padding-top: 20px;
  text-transform: uppercase;
  text-align: center;
  border-top: 1px solid #666666;
}
#footer p a:link, #footer p a:visited {
  color: #999;
  margin-left: 15px;
  padding-left: 15px;
  border-left: 1px solid #666;
}
#footer p a:hover {
  color: #b3b3b3;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
 
.clearfix {
  display: inline-block;
}
 
html[xmlns] .clearfix {
  display: block;
}
 
* html .clearfix {
  height: 1%;
}