<section class="service-area grey-bg pb-70 pt-100">
    <div class="container">
        <div class="row">
            {% for capabilitie in site.capabilities %}
            <div class="col-lg-4 col-md-6 text-center mb-30">
                <div class="features-wrap">
                    {% if capabilitie.icon %}
                    <div class="features-icon">
                        <img src="{{capabilitie.icon}}" alt="{{capabilitie.title}}">
                    </div>
                    {% endif %}
                    <h4>{{capabilitie.title}}</h4>
                    <p>{{capabilitie.description}}</p>
                    <!-- <a href="{{capabilitie.url}}">Read More</a> disabled while figuring out how to manipulate the target page -->
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
