<div class="clients-area pt-50 pb-50">
    <div class="container">
        <div class="row">
            <div class="clients-active owl-carousel">
                <!-- Waiting for permission to use logos
                <div class="col-sm-12">
                    <div class="single-clients">
                        <img src="{{site.baseurl}}/assets/img/clients/GMG.jpg" alt="">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="single-clients">
                        <img src="{{site.baseurl}}/assets/img/clients/gbi.svg" alt="">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="single-clients">
                        <img src="{{site.baseurl}}/assets/img/clients/client-3.png" alt="">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="single-clients">
                        <img src="{{site.baseurl}}/assets/img/clients/client-4.png" alt="">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="single-clients">
                        <img src="{{site.baseurl}}/assets/img/clients/client-5.png" alt="">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="single-clients">
                        <img src="{{site.baseurl}}/assets/img/clients/client-6.png" alt="">
                    </div>
                </div>
                -->
            </div>
        </div>
    </div>
</div>
