<div class="header-top blue-bg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6 col-md-8 text-center text-md-left">
                <div class="header-top-cta">
                    <span class="d-none d-md-inline"><i class="fas fa-map-marker-alt"></i>{{site.salcan.header_address}}</span>
                    <span><i class="far fa-envelope-open"></i>{{site.salcan.header_email}}</span>
                    <span><i class="fas fa-phone"></i>{{site.salcan.header_phone}}</span>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-4 text-center text-md-right">
                <div class="top-social-links d-none d-md-block">
                    <span>Follow us:</span>
                    <!-- <a href="{{site.facebook_url}}"><i class="fab fa-facebook-f"></i></a> -->
                    <!-- <a href="{{site.twitter_url}}"><i class="fab fa-twitter"></i></a> -->
                    <!-- <a href="{{site.pinterest_url}}"><i class="fab fa-pinterest-p"></i></a> -->
                    <a href="{{site.linkedin_url}}"><!-- <i class="fab fa-linkedin-in"> -->
                        <div style="position:relative;bottom:-8px;display:inline-block;padding-bottom:8px">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">
                            <path d="M20.5 2h-17A1.5 1.5 0 002 3.5v17A1.5 1.5 0 003.5 22h17a1.5 1.5 0 001.5-1.5v-17A1.5 1.5 0 0020.5 2zM8 19H5v-9h3zM6.5 8.25A1.75 1.75 0 118.3 6.5a1.78 1.78 0 01-1.8 1.75zM19 19h-3v-4.74c0-1.42-.6-1.93-1.38-1.93A1.74 1.74 0 0013 14.19a.66.66 0 000 .14V19h-3v-9h2.9v1.3a3.11 3.11 0 012.7-1.4c1.55 0 3.36.86 3.36 3.66z"></path>
                          </svg>
                        </div>
                    </i></a>
                    <!-- <div class="top-btn"> -->
                    <!--    <a href="#">Get a Quote</a> -->
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
