<section class="about-area pb-60 pt-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 mb-40">
                <div class="section-title">
                    <h3>{{site.salcan.home_p1.title}}</h3>
                </div>
                <div class="about-content">
                    <p>{{site.salcan.home_p1.body}}</p>
                </div>
                <p> </p>
                <div class="section-title">
                    <h3>{{site.salcan.home_p2.title}}</h3>
                </div>
                <div class="about-content">
                    <p>{{site.salcan.home_p2.body}}</p>
                </div>
                <p> </p>
                <div class="section-title">
                    <h3>{{site.salcan.home_p3.title}}</h3>
                </div>
                <div class="about-content">
                    <p>{{site.salcan.home_p3.body}}</p>
                </div>
            </div>
        </div>
    </div>
</section>